.buttonstyle {
  background-color: rgb(78, 218, 136);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Helvetica;
  font-size: 30px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-style: ridge;
  border-color: white;
  padding: 100px;
  
  
  
}
.buttonstyle:hover {
  background-color: #008CBA;
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(86, 77, 206);
  margin-bottom: 100%;
  
}